@model MyWebsite.Models.Camera

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="center_content">
    <div class="center_title_bar">Camera Detail</div>
    <div class="prod_box">
        <div class="top_prod_box"></div>
        <div class="center_prod_box">
            <div class="product_title"><a href="details.html">@Model.CModel</a></div>
            <div class="product_img"><a href="details.html"><img src="~/images/mobiles/@Model.Cimage" alt="" border="0" /></a></div>
            <div class="prod_price"><span class="reduce">70,000</span> <span class="price">@Model.CPrice</span></div>
            <div class="product_title"><a href="details.html">@Model.CDescription</a></div>
            <div class="product_title"><a href="details.html">@Model.CCompany</a></div>
        </div>
        <div class="bottom_prod_box"></div>
        <div class="prod_details_tab"> <a href="#" title="header=[Add to cart] body=[&nbsp;] fade=[on]"><img src="~/images/cart.gif" alt="" border="0" class="left_bt" /></a> <a href="#" title="header=[Specials] body=[&nbsp;] fade=[on]"><img src="~/images/favs.gif" alt="" border="0" class="left_bt" /></a> <a href="#" title="header=[Gifts] body=[&nbsp;] fade=[on]"><img src="~/images/favorites.gif" alt="" border="0" class="left_bt" /></a> <a href="/Camera/CDetails/@Model.Id" class="prod_details">details</a> </div>
    </div>
</div>